<?xml version="1.0" encoding="utf-8"?>
<ArrayOfMixtape xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <Mixtape>
    <Id>FIESTA</Id>
    <Uid>1000</Uid>
    <isDlc>false</isDlc>
    <MixtapeInfos>
      <NameImport>FIESTA</NameImport>
      <GameSongIdList>
        <string>AllNightLong</string>
        <string>ComeOnEileen</string>
      </GameSongIdList>
      <SongsList />
    </MixtapeInfos>
    <Custom>false</Custom>
    <indexPreview>0</indexPreview>
  </Mixtape>
  <Mixtape>
    <Id>LOVE</Id>
    <Uid>1000</Uid>
    <isDlc>false</isDlc>
    <MixtapeInfos>
      <NameImport>LOVE</NameImport>
      <GameSongIdList>
        <string>TaintedLove</string>
      </GameSongIdList>
      <SongsList />
    </MixtapeInfos>
    <Custom>false</Custom>
    <indexPreview>0</indexPreview>
  </Mixtape>
  <Mixtape>
    <Id>SAD</Id>
    <Uid>1000</Uid>
    <isDlc>false</isDlc>
    <MixtapeInfos>
      <NameImport>SAD</NameImport>
      <GameSongIdList>
        <string>Sacrifice</string>
      </GameSongIdList>
      <SongsList />
    </MixtapeInfos>
    <Custom>false</Custom>
    <indexPreview>0</indexPreview>
  </Mixtape>
  <Mixtape>
    <Id>OLD</Id>
    <Uid>1000</Uid>
    <isDlc>false</isDlc>
    <MixtapeInfos>
      <NameImport>OLD</NameImport>
      <GameSongIdList>
        <string>AllNightLong</string>
        <string>ComeOnEileen</string>
        <string>EverybodyWantsToRuleTheWorld</string>
        <string>Sacrifice</string>
        <string>TaintedLove</string>
      </GameSongIdList>
      <SongsList />
    </MixtapeInfos>
    <Custom>false</Custom>
    <indexPreview>0</indexPreview>
  </Mixtape>
  <Mixtape>
    <Id>RANDOM</Id>
    <Uid>1000</Uid>
    <isDlc>false</isDlc>
    <MixtapeInfos>
      <NameImport>RANDOM</NameImport>
      <GameSongIdList>
        <string>AllNightLong</string>
        <string>ComeOnEileen</string>
        <string>EverybodyWantsToRuleTheWorld</string>
        <string>Sacrifice</string>
        <string>TaintedLove</string>
      </GameSongIdList>
      <SongsList />
    </MixtapeInfos>
    <Custom>false</Custom>
    <indexPreview>0</indexPreview>
  </Mixtape>
  <Mixtape>
    <Id>ENGLISH</Id>
    <Uid>1000</Uid>
    <isDlc>false</isDlc>
    <MixtapeInfos>
      <NameImport>ENGLISH</NameImport>
      <GameSongIdList>
        <string>AllNightLong</string>
        <string>ComeOnEileen</string>
        <string>EverybodyWantsToRuleTheWorld</string>
        <string>Sacrifice</string>
        <string>TaintedLove</string>
      </GameSongIdList>
      <SongsList />
    </MixtapeInfos>
    <Custom>false</Custom>
    <indexPreview>0</indexPreview>
  </Mixtape>
  <Mixtape>
    <Id>MEN</Id>
    <Uid>1000</Uid>
    <isDlc>false</isDlc>
    <MixtapeInfos>
      <NameImport>MEN</NameImport>
      <GameSongIdList>
        <string>AllNightLong</string>
        <string>ComeOnEileen</string>
        <string>EverybodyWantsToRuleTheWorld</string>
        <string>Sacrifice</string>
        <string>TaintedLove</string>
      </GameSongIdList>
      <SongsList />
    </MixtapeInfos>
    <Custom>false</Custom>
    <indexPreview>0</indexPreview>
  </Mixtape>
</ArrayOfMixtape>